.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    gap: 20px;
}

.addItemContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.itemList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px 2px 20px;
    border-radius: 8px;
    background-color: #ebf2fa;
    font-size: 13px;
    font-weight: bold;
    color: #3770b1;
}
.itemInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.itemTitle{
    padding-right: 20px;
    }
.item span {
    font-size: 11px;
    color: #8f8f8f;
}

.itemEditDel {
    display: flex;
    /*border-radius: 50%;*/
    padding: 5px 8px;
    /*color: white;*/
}
.itemEdit {
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
}
.itemEdit:hover {
    background-color: #e4e5e9;
    cursor: pointer;
}
.itemEdit:active {
    background-color: #dadce2;
    cursor: pointer;
}
.itemEdit svg{
    color: #447bbb;
    position: relative;
    top: 1px;
    left: 1px;
}
.cancelButton {
    width: max-content;
    background-color: #e8483f;
    padding: 5px 8px;
}
.cancelButton:hover {
    background-color: #dd4446;
}
.cancelButton svg {
    position: relative;
    top: 1px;
}

.itemDelete {
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
}
.itemDelete:hover {
    background-color: #e4e5e9;
    cursor: pointer;
}
.itemDelete:active {
    background-color: #dadce2;
    cursor: pointer;
}
.itemDelete svg{
    color: #e8483f;
    position: relative;
    top: 1px;
}
.addItemList {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: max-content;
}
.addInputBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.editInputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.editInputBoxButtons {
    display: flex;
    gap: 5px;
}