.container {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid #000;
    gap: 20px;
}

.itemList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: azure;
}

.addItemList {
    display: flex;
}