/*.header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 28px;*/
/*    background-image: url('../../../../../public/bg.jpg');*/
/*    background-size: cover;*/
/*}*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ECFAFF;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    line-height: 1.5;
    padding: 0px 28px;
    border-bottom: 1px solid #73A8BC;
    box-sizing: border-box;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    margin: 0 6px;
    /*padding: 2px;*/
    padding: 15px 2px;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 2px solid #ECFAFF;
}

.nav li:hover {
    color: #789ba4;
    border-bottom: 2px solid #789ba4;
}

.navMiddle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 10px auto;*/
    padding: 10px 28px;
    width: 100%;
}

.socialIcons {
    display: flex;
    gap: 20px;
}

.cartIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cartIcon:hover {
    cursor: pointer;
    color: #789ba4;
}

.cartIcon p {
    font-size: 10px;
    letter-spacing: .1rem;
}

