
/*.header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 28px;*/
/*    background-image: url('../../../../../public/bg.jpg');*/
/*    background-size: cover;*/
/*}*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 28px;
    /*background-image: url('../../../../../public/bg.jpg');*/
    /*background-size: cover;*/
    max-width: 1360px;
    margin: 0 auto;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;
    padding: 15px 0;
    border-bottom: 1px solid #73A8BC;
}
.nav ul {
    display: flex;

}
.nav li {

    cursor: pointer;
    text-decoration: none;
    list-style: none;
    margin: 0 6px;
    padding: 2px;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    font-size: 14px;
    letter-spacing: 1.5px;
font-weight: bold;

}

.nav > li:hover {
    color: #789ba4;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #789ba4;
}

.navMiddle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.socialIcons {
    display: flex;
    gap: 20px;
}

.cartIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cartIcon:hover {
    cursor: pointer;
    color: #789ba4;
}
.cartIcon p{
    font-size: 10px;
    letter-spacing: .1rem;
}

